@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Uncial+Antiqua&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  outline: none;
}

:root {
  --primary: #ff4500;
  --secondary: #ffd700;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light);
}

.main-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
}

.left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--grey-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content div {
  display: flex;
  align-items: center;
  margin: 4rem;
  color: var(--light);
}

.left-content i {
  font-size: 3rem;
  margin-right: 2rem;
  color: var(--primary)
}

.left-content-heading {
  font-size: 2rem;
  text-transform: uppercase;
}

.right {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  position: relative;
}

.right-content-form {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.right-content-form div {
  position: relative;
}

.right-content-form input {
  width: 20rem;
  height: 4.5rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border: 0.1rem solid var(--grey-light);
  border-radius: 0.3rem;
  background-color: var(--grey-light-extra);
  transition: all 0.3s ease-in-out;
}

.right-content-form input:focus {
  border-color: var(--grey-dark);
}

.right-content-form label {
  position: absolute;
  top: 5.5rem;
  left: 0;
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--grey-dark);
  transition: all 0.3s ease-in-out;
}

.right-content-form label:hover {
  color: var(--primary);
}

.btn-top {
  width: 8rem;
  background-color: var(--grey-dark);
  color: var(--light);
  border: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-top:hover {
  background-color: var(--primary);
}

.middle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 40%;
}

.middle-content i {
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 2rem;
  text-align: center;
}

.middle-content h1 {
  font-size: 2.8rem;
  margin-bottom: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.middle-content h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.middle-content button {
  margin: 0.8rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--grey-dark);
  color: var(--light);
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.middle-content button:hover {
  background-color: var(--primary); 
}

.main-page-footer {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  background-color: var(--grey-dark);
  padding: 1.5rem;
  border-top: 0.1rem dotted var(--dark);
}

.main-page-footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main-page-footer a {
  font-size: 1.2rem;
  margin: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
  font-weight: 200;
  transition: all 0.3s ease-in-out;
}

.main-page-footer a:hover {
  color: var(--primary)
}

.login-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-row-gap: 1.5rem;
}

.login-page-nav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: var(--light);
  padding: 2.5rem 0;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}

.login-page-nav ul {
  width: 100rem;
  margin: auto;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.login-page-nav li {
  margin: 0 1rem;
  position: relative;
}

.login-page-nav li:last-child {
  margin-left: auto;
}

.login-page-nav li::after {
  content: '';
  width: 100%;
  height: 0.4rem;
  background-color: var(--primary);
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.login-page-nav li:hover::hover {
  opacity: 1;
}

.login-page-nav a {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey-dark);
  transition: color 0.3s;
}

.login-page-nav li:hover a {
  color: var(--primary);
}

.login-page-nav i {
  color: var(--primary);
  font-size: 2rem;
}

.login {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--light);
  width: 100rem;
  display: grid;
  grid-template-columns: 10rem 8fr;
  grid-template-rows: 2fr 1fr;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.login-content {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  padding: 5rem 0 1rem 0;
}

.login-content h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input:not(.login-form-checkbox) {
  width: 30rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  background-color: var(--grey-light-extra);
  border: 0.1rem solid var(--grey-light);
  border-radius: 0.3rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.login-form input:focus {
  border-color: var(--grey-dark);
}

.login-form div {
  margin-top: 2rem;
}

.login-form button {
  padding: 1rem 1.5rem;
  background-color: var(--grey-dark);
  color: var(--light);
  border-radius: 0.3rem;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-form button:hover {
  background-color: var(--primary);
}

.login-form label {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.login-form a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--grey-dark);
  transition: all 0.3s ease-in-out;
}

.login-form a:hover {
  color: var(--primary)
}

.login-footer {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.login-footer p {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.login-footer a {
  text-decoration: none;
  color: var(--grey-dark);
  transition: all 0.3s ease-in-out;
}

.login-footer a:hover {
  color: var(--primary)
}

.user-img-wrapper {
  width: 4rem;
  height: 4rem;
}

.user-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 1300px) {
  .middle-content {
    width: 60%;
  }
  .main-page-footer ul {
    flex-wrap: wrap;
  }
  .main-page-footer li {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1100px) {
  .main-page {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) min-content;
  }
  .right {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 70%;
    margin: auto;
  }
  .right-content-form {
    display: none;
  }
  .left {
    grid-row: 2 / 3;
  }
  .left-content {
    width: 50%;
    margin: auto;
  }
  .left-content h3 {
    line-height: 3rem;
  }
  .main-page-footer {
    grid-row: 3 / 4;
  }
  .login-page-nav ul {
    width: 80rem;
  }
  .login {
    width: 80rem
  }
}

@media (max-width: 900px) {
  .login-page-nav ul {
    width: 60rem;
  }
  .login {
    width: 60rem;
  }
}

@media (max-width: 800px) {
  .right {
    width: 80%;
  }
  .middle-content i {
    display: none;
  }
  .middle-content h1 {
    margin-bottom: 2rem;
  }
  .middle-content h4 {
    margin-bottom: 1rem;
  }
  .left-content {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .login-page-nav ul {
    width: 50rem;
  }

  .login {
    width: 50rem;
  }
}

@media (max-width: 600px) {
  .main-page {
    grid-template-rows: 1fr min-content;
  }
  .left {
    display: none;
  }
  .right {
    grid-row: 1 / 2;
    width: 90%;
  }
  .login-page-nav ul {
    width: 40rem;
  }
  .login {
    width: 40rem;
    grid-template-columns: 5rem 8fr;
  }
  .login-form label {
    font-size: 1.4rem;
  } 
  .login-form a {
    font-size: 1.4rem;
  } 
  .login-footer {
    padding-left: 5rem
  } 
  .login-footer p {
    font-size: 1.4rem;
  } 
}

@media (max-width: 500px) {
  .middle-content h1 {
    font-size: 2.5rem;
  }
  .login-page-nav ul {
    width: 30rem;
  }
  .login {
    width: 30rem;
    grid-template-columns: 2rem 8fr;
  }
  .login-form input:not(.login-form-checkbox) {
    width: 20rem;
  }
  .login-form a {
    display: block;
    margin-top: 1.5rem;
  }
  .login-footer {
    padding-left: 2rem;
  }
}

@media (max-width: 400px) {
  .login-page {
    grid-template-columns: 2rem 2fr 2rem;
  }
  .login {
    width: 100%;
  }
}